.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
**/.venv
artifacts
htmlcov
node_modules
**/node_modules
web/dist
**/dist
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
*.pyc
__pycache__
**/__pycache__
